CONFIG_LV_USE_DEMO_WIDGETS=y
CONFIG_LV_MEM_SIZE_KILOBYTES=48
CONFIG_LV_COLOR_16_SWAP=y
# WiFi/NTP firmware ~1.6MB; use custom partition table with 4M factory app
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
